$boxWidth:5rem;
#box1 {
    width: $boxWidth;
    height: 5rem;
    background: red;
    // background-image: url('../image/mongoDB2.jpg');
}
body{
    display: flex;
}
*,
body {
  margin: 0;
  padding: 0;
}

.box {
  height: 400px;
  width: 400px;
  border: 5px solid #000;
  color: #000;
}

.box div {
  width: 100px;
  height: 100px;
  float: left;
}
.box .ani1 {
  background: url("../image/icon/1.jpg") no-repeat;
  background-size: 100px;
}
.box .ani2 {
  background: url("../image/icon/2.jpg") no-repeat;
//   background-size: 100px;
}
.box .ani3 {
  background: url("../image/icon/3.png") no-repeat;
//   background-size: 100px 100px;
}